
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0f0824;
    color: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 28px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu a {
    color: #dcdcdc;
    text-decoration: none;
    font-size: 16px;
}

/* Sign up button */
.signup-btn {
    background: white;
    padding: 10px 26px;
    border-radius: 25px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    margin: 50px auto;
    width: 85%;
    background: linear-gradient(135deg, #14024b, #35006e);
    padding: 60px;
    border-radius: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.hero-text .tag {
    background: #aeaaf5;
    color: #1a0c58;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-text p {
    max-width: 420px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* CTA button */
.cta-btn {
    background: #fff;
    padding: 14px 30px;
    border-radius: 28px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}

/* Image */
.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
